@import 'box';
@import 'mixins';
@import 'extend';

$midnight-blue : #2c3e50;
body {
  background-color: $midnight-blue;
}

p{
    @include border(yellow);
}

a {
    @include link;
}


.button-success {
    @extend %factorisation-button;
    background-color: #4CAF50; /* Green */
}

.button-warning {
    @extend %factorisation-button;
    background-color: yellow; /* Yellow */

}
.button-alert {
    @extend %factorisation-button;
    background-color: red; /* Red */

}